$color-brand: #5590DD;

div.header {
  height: 100;
  background-color: #2E9B7D;
  color:  #FFFFFF;
  padding-bottom: 50px;
}

#buruburu {
  display: inline-block;
  animation: buruburu .1s  infinite;
}

@keyframes buruburu {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
